@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --color-principal: #fafafa;
    --color-secundario: #666666;
    --color-terceario: #4c49e7;
    --color-cuartario: #D9D9D9;
    --color-quinto: #060606;

    --fuente-principal: "Crimson Text", serif;
    --fuente-secundaria: "Poppins", sans-serif;
    --fuente-tercearia: "DM Sans", sans-serif;
    --fuente-cuartaria: "Noto Sans", sans-serif;
    --fuente-quinta: "Space Grotesk", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-principal);
    box-sizing: border-box;
}

.header{
    margin: 0 4%;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    width:7%;
}

.header_menu{
    display: flex;
    gap: 3.81rem;
    font-family: var(--fuente-tercearia);
    color: var(--color-secundario);
    font-size: 1.25rem;
}

.header_socials{
    display: flex;
    align-items: center;
    gap: 7%;
}

.header_cv{
    background-color: var(--color-terceario);
    color: var(--color-principal);
    font-family: var(--fuente-cuartaria);
    font-weight: 700;
    padding: 1% 2%;
    border-radius: 10px;
}

.contenido{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.contenido_banner{
    background-color: #D9D9D9;
    height: 500px;
}
.contenido_banner_info{
display: flex;
justify-content: space-between;
margin: 0 7%;
gap: 4%;
}

.contenido_banner_info_texto{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.contenido_banner_info_texto_nombre{
    font-family: var(--fuente-quinta);
    font-size: 2rem;
    font-weight: 400;
}

.contenido_banner_info_nombre_destacado{
    font-family: var(--fuente-cuartaria);
    font-size: 3.43rem;
    font-weight: 700;
    color: var(--color-terceario);
}

.contenido_banner_info_texto_profesion{
    font-family: var(--fuente-quinta);
    font-weight: 400;
    font-size: 1.62rem;
}

.contenido_banner_info_texto_contacto{
    font-family: var(--fuente-quinta);
    font-weight: 700;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    margin-top: 4%;
}

.contenido_banner_info_imagen{
    /* O 'absolute' si prefieres fijarla respecto al contenedor */
    z-index: 1;
     /* Ajusta el valor para que sobresalga como desees */
    max-height: 450px;
    bottom: 0%;
    align-self:baseline;
    margin-top: 50px;
}